* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

/* navbar */

.navbar {
  background-color: #141414 !important;
}

#logo_netflix {
  width: 100px;
}

form p {
  color: white;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.btn {
  background-color: #141414 !important;
  border: none !important;
}

.btn ion-icon {
  color: white;
  font-size: 20px;
}

#profile_pic {
  width: 35px;
}

.dropdown-menu {
  background-color: #141414;
  border: solid 1px #C4C4C4;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu hr {
  color: #C4C4C4;
}

/* section bar */

.genres_title {
  margin-right: 20px !important;
}

#genres_menu {
  border-radius: 0 !important;
  border: solid 1px white !important;
}

div.section_element {
  color: white !important;
}

.btn-section {
  border: solid 1px white !important;
  border-radius: 0;
}

.btn-section ion-icon {
  font-size: 10px;
}

/* carousel */

div.container h3 {
  color: white !important;
  text-align: start;
  font-size: 20px;
}

.carousel {
  overflow: hidden;
}

.card {
  background-color: #141414 !important;
  max-width: 220px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(100%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-100%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

